---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for page in collections.all | sort(false, false, "url") %}
  {%- if not page.data.noindex and page.url %}
  {%- set lastmod = page.inputPath | lastModDate %}
  <url>
    <loc>{{ site.url }}{{ page.url }}</loc>
    {% if lastmod %}<lastmod>{{ lastmod | date('yyyy-MM-dd') }}</lastmod>{% endif %}
  </url>
  {%- endif %}
  {%- endfor %}
</urlset>
